ntier-identity-without-signinmanager/Connected Services/AccountService/AccountWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62759/AccountWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62759/AccountWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62759/AccountWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/dto" />
      <xsd:import schemaLocation="http://localhost:62759/AccountWebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Security.Claims" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountWebService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IAccountWebService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountWebService_ValidateIdentityUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateIdentityUser" />
  </wsdl:message>
  <wsdl:message name="IAccountWebService_ValidateIdentityUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateIdentityUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountWebService_CreateIdentity_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateIdentity" />
  </wsdl:message>
  <wsdl:message name="IAccountWebService_CreateIdentity_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateIdentityResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountWebService_GetSecurityStamp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSecurityStamp" />
  </wsdl:message>
  <wsdl:message name="IAccountWebService_GetSecurityStamp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSecurityStampResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountWebService_IdentityUserExistsById_InputMessage">
    <wsdl:part name="parameters" element="tns:IdentityUserExistsById" />
  </wsdl:message>
  <wsdl:message name="IAccountWebService_IdentityUserExistsById_OutputMessage">
    <wsdl:part name="parameters" element="tns:IdentityUserExistsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountWebService_SupportsUserSecurityStamp_InputMessage">
    <wsdl:part name="parameters" element="tns:SupportsUserSecurityStamp" />
  </wsdl:message>
  <wsdl:message name="IAccountWebService_SupportsUserSecurityStamp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupportsUserSecurityStampResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountWebService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountWebService/Create" message="tns:IAccountWebService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountWebService/CreateResponse" message="tns:IAccountWebService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateIdentityUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountWebService/ValidateIdentityUser" message="tns:IAccountWebService_ValidateIdentityUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountWebService/ValidateIdentityUserResponse" message="tns:IAccountWebService_ValidateIdentityUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateIdentity">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountWebService/CreateIdentity" message="tns:IAccountWebService_CreateIdentity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountWebService/CreateIdentityResponse" message="tns:IAccountWebService_CreateIdentity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSecurityStamp">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountWebService/GetSecurityStamp" message="tns:IAccountWebService_GetSecurityStamp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountWebService/GetSecurityStampResponse" message="tns:IAccountWebService_GetSecurityStamp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IdentityUserExistsById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountWebService/IdentityUserExistsById" message="tns:IAccountWebService_IdentityUserExistsById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountWebService/IdentityUserExistsByIdResponse" message="tns:IAccountWebService_IdentityUserExistsById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupportsUserSecurityStamp">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountWebService/SupportsUserSecurityStamp" message="tns:IAccountWebService_SupportsUserSecurityStamp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountWebService/SupportsUserSecurityStampResponse" message="tns:IAccountWebService_SupportsUserSecurityStamp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountWebService" type="tns:IAccountWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IAccountWebService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateIdentityUser">
      <soap:operation soapAction="http://tempuri.org/IAccountWebService/ValidateIdentityUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateIdentity">
      <soap:operation soapAction="http://tempuri.org/IAccountWebService/CreateIdentity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecurityStamp">
      <soap:operation soapAction="http://tempuri.org/IAccountWebService/GetSecurityStamp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdentityUserExistsById">
      <soap:operation soapAction="http://tempuri.org/IAccountWebService/IdentityUserExistsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupportsUserSecurityStamp">
      <soap:operation soapAction="http://tempuri.org/IAccountWebService/SupportsUserSecurityStamp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountWebService">
    <wsdl:port name="BasicHttpBinding_IAccountWebService" binding="tns:BasicHttpBinding_IAccountWebService">
      <soap:address location="http://localhost:62759/AccountWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>