ntier-identity-without-signinmanager/Connected Services/AccountService/AccountWebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62759/AccountWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/dto" />
  <xs:import schemaLocation="http://localhost:62759/AccountWebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Security.Claims" />
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/dto" minOccurs="0" name="user" nillable="true" type="q1:Account" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateIdentityUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="shouldLockout" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateIdentityUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/dto" minOccurs="0" name="ValidateIdentityUserResult" nillable="true" type="q2:IdentityLoginResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Security.Claims" minOccurs="0" name="CreateIdentityResult" nillable="true" type="q3:ClaimsIdentity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurityStamp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurityStampResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSecurityStampResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdentityUserExistsById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdentityUserExistsByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdentityUserExistsByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupportsUserSecurityStamp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SupportsUserSecurityStampResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupportsUserSecurityStampResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>